@charset "UTF-8";

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
}
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../img/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  margin: -40px 0 0 -100px;
}
#status img {
  text-align: center;
  margin-top: -80px;
}

html, body{
margin: 0;
padding: 0
}

.header {
    padding-top: 19px;
	background: url(../img/pattern/overlay.png),url(../img/starry_sky.jpg) top;
	padding-bottom: 25px;
}

#About_site {
	font-size: 13pt;
	line-height: 2em;
	color: #777;
	font-family: "Comic Sans MS";
	margin-left: auto;
    margin-right: auto;
        width: 80%
}

#end {
	border-top: 2px solid #222;
	border-bottom: 2px solid #222;
	background-color: #545454;
	padding-bottom: 20px;
}

.twitter-timeline {
	margin:0 auto;
}

.icon{
	font-size: 2em;

}

#Contacts_css {
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
	background-color: #222;
	color: #a5a9ad;
	padding: 15px 0 15px 0;
	text-align: center;
}




#Contacts_css a {
	color: #a5a9ad;
	text-decoration: none;
}

.label {
	font-family: Roboto,Arial,sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5em;

}

.button {
	float: right;
	margin-top: -10px;
	background-color: #222;
	box-shadow: none;
	color: #fff !important;
    line-height: 2.5em;
    padding: 0 1.5em;
    border-radius: 2.5em;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
	font-family: "Raleway", Helvetica, sans-serif;
}

		@media screen and (max-width: 840px) {
			.button {
				margin-top: -7px;
			}
		}

/* Banner */

  #banner {
    padding: 8em 0 6em 0;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
  }

    #banner input, #banner select, #banner textarea {
      color: #fff;
    }

    #banner a {
      color: #51BAA4;
    }

    #banner strong, #banner b {
      color: #fff;
    }

    #banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
      color: #fff;
    }

    #banner blockquote {
      border-left-color: transparent;
    }

    #banner code {
      background: rgba(255, 255, 255, 0.05);
      border-color: transparent;
    }

    #banner hr {
      border-bottom-color: transparent;
    }

    #banner h2 {
      font-size: 2.5em;
      margin: 0 0 0.5em 0;
      padding: 0;
    }

    #banner p {
      color: #fff;
      font-weight: 800px;
      font-size: 1.5em;
      font-family: Comic Sans ms;
      text-transform: uppercase;
    }

    #banner .icon {
      border-radius: 100%;
      border: solid 2px #fff;
      color: #fff;
      display: inline-block;
      font-size: 3em;
      height: 2.25em;
      line-height: 1.25em;
      margin-bottom: 0.5em;
      padding: 0.5em;
      width: 2.25em;    }
    
    .round { 
        -moz-border-radius: 100px; /* Firefox */ 
        -webkit-border-radius: 100px; /* Safari, Chrome */ 
        -khtml-border-radius: 100px; /* KHTML */ 
        border-radius: 100px; /* CSS3 */ 
        behavior: url(border-radius.htc); /*IE */ }

    @media screen and (max-width: 1680px) {

      #banner {
        padding: 11em 0 9em 0;
      }

    }

    @media screen and (max-width: 1280px) {

      #banner {
        padding: 9em 0 7em 0;
      }

        #banner h2 {
          font-size: 2em;
        }

    }

    @media screen and (max-width: 980px) {

      #banner {
        padding: 8em 2em 6em 2em;
      }

    }

    @media screen and (max-width: 736px) {

      #banner {
        padding: 5em 2em 3em 2em;
      }

        #banner h2 {
          font-size: 1.5em;
        }

        #banner p {
          font-size: 1em;
        }

        #banner .icon {
          font-size: 2em;
        }

    }

    @media screen and (max-width: 480px) {

      #banner {
        padding: 5em 2em 3em 2em;
      }

        #banner .icon {
          font-size: 1.5em;
        }

    }

      #logo h2{
    Border: 4px solid white;
    Font-family: "Comic Sans ms";
  }

    @media screen and (max-width: 1680px) {
    #logo h2{ 
      width: 220px;
      }
    }

    @media screen and (max-width: 1280px) {
    #logo h2{
      width: 200px;
      }
    }

    @media screen and (max-width: 980px) {
    #logo h2{
      width: 180px;
      }
    }

    @media screen and (max-width: 480px) {
    #logo h2{
      width: 140px;
      }
    }

.button2 {
  background-color: #4d4d4d;
  box-shadow: none;
  color: #fff !important;
  font-size: 1.2em;
  height: 3.25em;
  line-height: 3.25em;
  padding: 0 2.5em;
  border-radius: 2.5em;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: "Raleway", Helvetica, sans-serif;
  margin: 0 auto;
}

.icon.fa-diamond {
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
    border-radius: 100%;
    border: solid 2px #fff;
    font-size: 3em;
    width: 2.25em;
    line-height: 1.25em;
    padding: 0.5em;
    color: #fff;
}

.offline {
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	width: 80%;
	background-color: #fff;
	margin: 150px auto;
	position: relative;
	overflow: hidden;
}
.ofline h1 p {
	font-family: Roboto-Regular,Helvetica;
	margin-right: auto;
	margin-left: auto;
    text-transform: uppercase;
}

.line_title span {
	font-family: Roboto,Arial,sans-serif;
    display: inline-block;
    position: relative;
    height: 41px;
    line-height: 41px;
    color: #fff;
    background: #333;
    padding-left: 24px;
    padding-right: 32px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}

.line_title {
    text-align: left;
    position: relative;
    padding: 30px 0 10px;
}

.line_title span:after {
    content: "";
    display: block;
    border-left: 10px solid #333;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    height: 21px;
    position: absolute;
    top: 0;
    right: -10px;
}

img {
    max-width: 100%;
    height: auto;
}

#nav {
	list-style: none;
	font-size: 20px;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

		@media screen and (max-width: 840px) {
				#nav {
					font-size: 17px;
				}
			}

.logo_img {
	float: left;
	background-color: #fff;
	padding-left: 50px;
}

.logo--header {
  float: left;
  margin-top: -30px;
  margin-bottom: -40px;
  margin-left: 21px;
}

.nav {
    background-color: #fff;
    padding: 10px 2px 40px 0;
}

#nav p {
	font-size: 1.2em;
	float: left;
	display: block;
	width: 5em;
	padding:10px;
	padding-right: 10px;
	margin: 0 5px;
	text-decoration: none;
	color: #000;
	text-align: center;
}

#nav li {
	float: left;
}

#nav a {
	display: block;
	width: 7em;
	text-decoration: none;
	color: #000;
	text-align: center;
}
		@media screen and (max-width: 840px) {
			#nav a {
				width: 5em;
			}

			.logo--header {
				margin-left: 0;
			}
		}

#nav a:hover{
	color: #808080;
}

			@media screen and (max-width: 1680px) {

			}
