@charset "UTF-8";

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
}
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../img/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  margin: -40px 0 0 -100px;
}
#status img {
  text-align: center;
  margin-top: -80px;
}

html, body{
margin: 0;
padding: 0
}

.header {
    padding-top: 19px;
	background: url(../img/pattern/overlay.png),url(../img/starry_sky.jpg) top;
	padding-bottom: 25px;
}

#About_site {
	font-size: 13pt;
	line-height: 2em;
	color: #777;
	font-family: "Comic Sans MS";
	margin-left: auto;
    margin-right: auto;
        width: 80%
}

#end {
	border-top: 2px solid #222;
	border-bottom: 2px solid #222;
	background-color: #545454;
	padding-bottom: 20px;
}

p {
    margin: 0 0 2em 0;
}
.twitter-timeline {
	margin:0 auto;
}

.icon{
	font-size: 2em;

}

#Contacts_css {
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
	background-color: #222;
	color: #a5a9ad;
	padding: 15px 0 15px 0;
	text-align: center;
}



a hover {
	color: #fff;
	text-decoration: none;
}

#Contacts_css a {
	color: #a5a9ad;
	text-decoration: none;
}

.label {
	font-family: Roboto,Arial,sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5em;

}

.button {
	float: right;
	margin-top: -10px;
	background-color: #222;
	box-shadow: none;
	color: #fff !important;
    line-height: 2.5em;
    padding: 0 1.5em;
    border-radius: 2.5em;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
	font-family: "Raleway", Helvetica, sans-serif;
}

		@media screen and (max-width: 840px) {
			.button {
				margin-top: -7px;
			}
		}

#banner {
	margin-top: 70px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: "Raleway", Helvetica, sans-serif;
	text-align: center;
	color: #fff;
	box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
	#banner {
 		padding: 9em 0 7em 0;
	}
}

@media screen and (max-width: 1680px) {}
	#banner {
    	padding: 11em 0 9em 0;
	}
}

.icon.fa-diamond {
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
    border-radius: 100%;
    border: solid 2px #fff;
    font-size: 3em;
    width: 2.25em;
    line-height: 1.25em;
    padding: 0.5em;
    color: #fff;
}

.offline {
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	width: 80%;
	background-color: #fff;
	margin: 150px auto;
	position: relative;
	overflow: hidden;
}
.ofline h1 p {
	font-family: Roboto-Regular,Helvetica;
	margin-right: auto;
	margin-left: auto;
    text-transform: uppercase;
}


#vk_groups {
	float: right;
    display: block;
	margin-top: -19em;
	width: 500px;
	height: 400px;
}

#owl-example {
	margin-top: 50px;
	background-color: #222;
	border-radius: 10px;
	width: 40em;
    max-width: 756px;
}

		@media screen and (max-width: 840px) {
			#owl-example {
				max-width: 512px;
			}
		}

.line_title span {
	font-family: Roboto,Arial,sans-serif;
    display: inline-block;
    position: relative;
    height: 41px;
    line-height: 41px;
    color: #fff;
    background: #333;
    padding-left: 24px;
    padding-right: 32px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}

.line_title {
    text-align: left;
    position: relative;
    padding: 30px 0 10px;
}

.line_title span:after {
    content: "";
    display: block;
    border-left: 10px solid #333;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    height: 21px;
    position: absolute;
    top: 0;
    right: -10px;
}

img {
    max-width: 100%;
    height: auto;
}

#nav {
	list-style: none;
	font-size: 20px;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

		@media screen and (max-width: 840px) {
				#nav {
					font-size: 17px;
				}
			}

.logo_img {
	float: left;
	background-color: #fff;
	padding-left: 50px;
}

.logo--header {
  float: left;
  margin-top: -30px;
  margin-bottom: -40px;
  margin-left: 21px;
}

.nav {
    background-color: #fff;
    padding: 10px 2px 40px 0;
}

#nav p {
	font-size: 1.2em;
	float: left;
	display: block;
	width: 5em;
	padding:10px;
	padding-right: 10px;
	margin: 0 5px;
	text-decoration: none;
	color: #000;
	text-align: center;
}

#nav li {
	float: left;
}

#nav a {
	display: block;
	width: 7em;
	text-decoration: none;
	color: #000;
	text-align: center;
}
		@media screen and (max-width: 840px) {
			#nav a {
				width: 5em;
			}

			.logo--header {
				margin-left: 0;
			}
		}

#nav a:hover{
	color: #808080;
}

			@media screen and (max-width: 1680px) {

			}
